<h1>{{title}}</h1>

<div class="card text-center" style="width: 750px; margin: auto;">
  <div class="card-header">
    <h4>Submit a new Donation</h4>
  </div>
  <div class="card-body">

    <form method="POST" action="/donations/save" style="width: 600px; margin: auto;">

    {{#if docreate}}
        <input type="hidden" name="docreate" value="create">
    {{else}}
        <input type="hidden" name="docreate" value="update">
    {{/if}}        

        <select class="form-select" name='rel_id' aria-label="Default select example">
            <option selected>Select a campaign to donate to</option>
            {{#each campaignlist}}
            <option value="{{this._id}}">{{title}}</option>
            {{/each}}
        </select>

        <br>

        <div class="input-group">
            <span class="input-group-text">Message</span>
            <textarea class="form-control" aria-label="With textarea" name="message" required>{{#if donation }}{{donation.message}}{{/if}}
            </textarea>
        </div>

        <br/>

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" name="don_amt" class="form-control" placeholder="Donation Amount" aria-label="Amount"
            value= "{{#if donaiton }}{{donaiton.goal}}{{/if}}" required>
        </div>

        <br/>

        <script src="https://js.stripe.com/v3/"></script>
        <link rel='stylesheet' href='/stylesheets/payment.css' />        

            <h2>Payment Information</h2>
            <fieldset>
                <label>
                    <span>Card</span>
                    <div id="card-element" class="field"></div>
                </label>
            </fieldset>

        <div id="card-errors" role="alert"></div>
        </main>

        <script src="../javascripts/stripe_form.js"></script>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

  </div>
</div>