<h1>{{title}}</h1>

<div class="card text-center" style="width: 750px; margin: auto;">
  <div class="card-header">
    <h4>Add a new campaign</h4>
  </div>
  <div class="card-body">

    <form method="POST" action="/donations/save" style="width: 600px; margin: auto;">

    {{#if docreate}}
        <input type="hidden" name="docreate" value="create">
    {{else}}
        <input type="hidden" name="docreate" value="update">
    {{/if}}   

        <div class="input-group">
            <span class="input-group-text">Message</span>
            <textarea class="form-control" aria-label="With textarea" name="message" required>{{#if donation }}{{donation.message}}{{/if}}
            </textarea>
        </div>

        <br/>

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" name="don_amt" class="form-control" placeholder="Donation Amount" aria-label="Amount (to the nearest dollar)"
            value= "{{#if donaiton }}{{donaiton.goal}}{{/if}}" required>
            <span class="input-group-text">.00</span>
        </div>

        <div class="input-group mb-3">
             <span class="input-group-text">Start Date</span>
            <input class="form-control" type="date" name='start_date' value= "{{#if campaign }}{{campaign.start_date}}{{/if}}">
        </div>  

        <br/>

        <!--
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        -->

        <br/>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

  </div>
</div>