<h1>{{title}}</h1>

<div class="card text-center" style="width: 750px; margin: auto;">
  <div class="card-header">
    <h4>Update a campaign</h4>
  </div>
  <div class="card-body">

    <form method="POST" action="/campaigns/save-update" style="width: 600px; margin: auto;">

    {{#if docreate}}
        <input type="hidden" name="docreate" value="create">
    {{else}}
        <input type="hidden" name="docreate" value="update">
    {{/if}} 
    
        <input type="hidden" name="_id" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" 
            value= "{{#if campaign }}{{campaign._id}}{{/if}}" required>      

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Title</span>            
            <input type="text" name="title" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" 
            value= "{{#if campaign }}{{campaign.title}}{{/if}}" required>
        </div>

        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" aria-label="With textarea" name="desc" required>{{#if campaign }}{{campaign.desc}}{{/if}}
            </textarea>
        </div>

        <br/>
 
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" name="goal" class="form-control" placeholder="Donation Goal" aria-label="Amount (to the nearest dollar)"
            value= "{{#if campaign }}{{campaign.goal}}{{/if}}" required>
            <span class="input-group-text">.00</span>
        </div>

        <div class="input-group mb-3">
             <span class="input-group-text">Start Date</span>
            <input class="form-control" type="date" name='start_date' value= "{{#if campaign }}{{campaign.start_date}}{{/if}}">
        </div>

        <div class="input-group mb-3">
             <span class="input-group-text">End Date</span>
            <input class="form-control" type="date" name='end_date' value= "{{#if campaign }}{{campaign.end_date}}{{/if}}" required>
        </div>      

        <br/>

        <!--
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        -->

        <br/>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

  </div>
</div>