<br/>

<div class="card dm" style="width: 28rem; margin: auto;">
  <div class="card-header" style="text-align: center;">
    <h2>{{ title }}</h2>
  </div>
  <ul class="list-group list-group-flush">
    <h6 class="list-group-item"><b>Description:</b>  {{ campaign.desc }}</h6>
    <h6 class="list-group-item"><b>Funding Goal:</b> ${{ campaign.goal }}</h6>
    <h6 class="list-group-item"><b>Campaign Start Date:</b> {{ campaign.start_date }}</h6>
    <h6 class="list-group-item"><b>Campaign End Date:</b> {{ campaign.end_date }}</h6>
    <h6 class="list-group-item" style="text-align: center;"><b>Progress</b> <br><br>
     <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{prog_precent}}%;" aria-valuenow="{{prog_precent}}%" aria-valuemin="0" aria-valuemax="100">${{campaign.progress}} of ${{campaign.goal}}</div>
     </div> <br>
     <p class="text-muted">Remaining: ${{remaining}}</p>
     </h6>    
    <h6 class="list-group-item">
    <a class="btn btn-primary donate-btn" href="/donations/add" style="border-radius: 20px;">
      <img src="../images/add.png" style="height: 24px; width: 24px; float: left;"/>
        Donate
    </a>
    </h6>
  </ul>
</div>

<br/>

<h3 style="text-align: center;">Donations</h3>

<br/>

<table class="table" style="width: 500px; margin: auto" >
    <thead>
        <tr>
            <th scope="col">Message</th>
            <th scope="col">Donation Amount</th>
            <th scope="col"></th>
        </tr>
    </thead>
    {{#donationList}}
        <tbody>
            <tr>
                <th scope="row">{{message}}</th>
                <td>${{don_amt}}</td>
                <td><a href="/donations/view?_id={{ this._id }}">
                    <img src="../images/open-link.png" style="height: 24px; width: 24px;"/>
                </a></td>
            </tr>
        </tbody>
    {{/donationList}}
</table>
