<div class="card dm" style="width: 28rem; margin: auto;">
  <div class="card-header" style="text-align: center;">
    <h2>{{ title }}</h2>
  </div>
  <ul class="list-group list-group-flush">
    <h6 class="list-group-item"><b>Description:</b>  {{ campaign.desc }}</h6>
    <h6 class="list-group-item"><b>Funding Goal:</b> ${{ campaign.goal }}</h6>
    <h6 class="list-group-item"><b>Campaign Start Date:</b> {{ campaign.start_date }}</h6>
    <h6 class="list-group-item"><b>Campaign End Date:</b> {{ campaign.end_date }}</h6>
    <h6 class="list-group-item">
    <a href="" class="del-btn">
        <img src="../images/delete.png" style="height: 28px; width: 28px;"/>
    </a>
    <button type="button" class="btn btn-primary donate-btn" style="border-radius: 20px; margin:auto;">
        <img src="../images/add.png" style="height: 24px; width: 24px;"/>
        <a class="nav-link text-white" href="/donations/add" style="display: inline;">
            Donate
        </a>
    </button>
    <a href="/campaigns/edit" class="edit-btn">
        <img src="../images/edit.png" style="height: 24px; width: 24px;"/>
    </a></div>
    </h6>
  </ul>
</div>